@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik+Puddles&display=swap');
:root {
  --mainFont: 'Poppins', sans-serif;
  --headerFont: 'Rubik Puddles', cursive;
  --darkPink: #AA336A; 
  --pink: #DE3163;
  --white: #FDF1F5;
  --grey: #ADAAAB ;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--white); 
  font-family: var(--mainFont);
}
button{
  border-radius: 15px;
  background-color: var(--darkPink);
  color: var(--white);
  padding: 1em 2em;
  border: none;
  margin: 1em;

}
.bucketList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2em;
}
.bucketList h1{
  font-size: 3em;
  font-family: var(--headerFont);
  color: var(--darkPink);
}
.bucketForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bucketForm input{
  padding: 1em;
  border: 2px solid var(--darkPink);
  border-radius: 25px;
  margin-block: 1em;
}
.dropdown{
 display: flex;
 flex-direction: column;
}
.dropdown-content{
  display: none;
}
.dropdown:hover .dropdown-content{
  display:flex;
  gap: 1em;
}
.itemCont{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
}
#item{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 border: 2px solid var(--darkPink);
 padding: 1em;
 border-radius: 35px;
 margin: 1em;
}